@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 240, 245; /* Lavender Blush */
  --background-end-rgb: 255, 255, 255;
}

/* 1. Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 2. Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* 3. Global Smooth Scroll */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  overscroll-behavior-y: none; /* Prevents "bounce" effect on Mac */
}